@charset "UTF-8";

div {display: block; border-collapse: collapse; border-spacing: 0;}
.subtitle {width:100%; margin-top:100px;}
ul,li,ol {list-style:none;}
.title02 {background: url("../../images/header/titlebg02.jpg") no-repeat;}
.subtitle span{font-size:23px; color:#fff; border-bottom: 2px solid #fff; padding: 0 0 5px 0;}
.subtitle h2 {color:#fff; text-align: center; font-size: 50px; font-weight: 300; line-height: 65px; padding-top: 65px; height:300px;}